@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

/*  NAVBAR STYLING  */

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}
.navbar {
    background-color: #1F2937;
    height: 60px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1050px;
    margin: 0 auto;
    height: 100%;
}

.navbar ul {
    display: flex;
}

.navbar li {
    list-style-type: none;
    margin-left: 22px;
}

.navbar a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

/*  HERO STYLING  */

section.hero {
    background-color: #1f2937;
    height: 450px;
}

.hero .container {
    display: flex;
    justify-content: space-between;
    max-width: 1050px;
    margin: 0 auto;
    padding-top: 75px;
}

.hero .hero-text {
    max-width: 40%;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero p {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 10px;
}

.hero .sign-up {
    background-color: #3882F6;
    width: 120px;
    height: 40px;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    border-style: none;
    border-radius: 10px;
}

.hero .hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: slategray;
    color: #E5E7EB;
    width: 500px;
    max-width: 500px;
    height: 250px;
    border-radius: 15px;
}

/* INFO STYLING */

.info {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    align-items: center;
}

.info .container {
    display: flex;
    flex-direction: row;
    gap: 25px;
    width: 1050px;
    justify-content: center;
    align-items: center;
}

.info h2 {
    margin: 0 auto;
    font-size: 36px;
    color: #1F2937;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 25px;
    font-weight: bold;
}

.info-container {
    width: 175px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.info-container p {
    color: #1F2937;
    font-size: 18px;
    text-align: center;
    padding-top: 5px;
}

.info-container .info-box {
    border: solid 3px #3882F6;
    width: 150px;
    height: 150px;
    border-radius: 15px;
}

.info-box .info-text {
    font-size: 18px;
    color: #1F2937;
}

/*